name: CMake on multiple platforms

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            configure_preset: config-vs2022-ci
            build_preset: build-vs2022-ci
            test_preset: test-vs2022-ci
          - os: ubuntu-latest
            configure_preset: config-gcc-ci
            build_preset: build-gcc-ci
            test_preset: test-gcc-ci
          - os: ubuntu-latest
            configure_preset: config-clang-ci
            build_preset: build-clang-ci
            test_preset: test-clang-ci

    steps:
    - uses: actions/checkout@v4

    # Install Clang 18 (or 19 depending on choice)
    # Only run this step if the current matrix job is for Clang
    - name: Install LLVM and Clang
      if: matrix.configure_preset == 'config-clang-ci'
      uses: KyleMayes/install-llvm-action@v2
      with:
        version: "18"      # Specific version to avoid compatibility issues
        env: true          # Automatically set CC=clang and CXX=clang++ environment variables
        cached: true       # (Default is true) Speed up subsequent runs by avoiding re-download

    - name: Configure CMake
      # We conditionally append the linker flag only for Clang build to avoid LTO errors
      run: >
        cmake --preset ${{ matrix.configure_preset }}
        ${{ matrix.configure_preset == 'config-clang-ci' && '-DCMAKE_CXX_FLAGS=-fuse-ld=lld' || '' }}

    - name: Build
      run: cmake --build --preset ${{ matrix.build_preset }}

    - name: Test
      run: ctest --preset ${{ matrix.test_preset }}
